{% extends "base.html" %} {% load static %}

<!-- Page title -->
{% block title %}
<title>RF4 - Past</title>
{% endblock title %}

<!-- Style block -->
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tablestyles.css' %}">
<!---->
{% endblock styles %}

<!-- Content block -->
{% block content %}

<!-- Local Javascript file imports (not page content sensitive) -->
<script src="{% static 'js/data.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- Page header: 3. Grid row elements - Place for page name and details -->
<div class="content_header main_container">
    <h2 class="page_name">-Past events-</h2>
</div>

<!-- Page content: 4. Grid row elements - Place for past events (Constructed in JS-file) -->
<div id="past_eventcontainer" class="past_eventcontainer main_container sp">
    <input type="text" id="filter_input" onkeyup="filter()" placeholder="Search for events..." title="Type in a name">
    <div class="inforow sp">
        <label class='date'>Date</label>
        <label class='country'>Country</label>
        <label class='event'>Event name</label>
    </div>
</div>

<!-- Reserve container: 5. Grid row elements -->
<div class="vara main_container sp">
    <p><a class="btn btn-primary" href="#" role="button" style="color:goldenrod">Back to Top &raquo;</a></p>
</div>

<!-- Script for JSON data imports (page specific) -->
<script>
    (async() => {
        //const events = await getJSON("{% static 'js/data/past_events.json' %}");
        //const results = await getJSON("{% static 'js/data/raceresults/GB-VLM.json' %}");
        //await createEventComboBoxes("past_eventcontainer", events, results);
        const races = await getJSON("http://127.0.0.1:8000/races");
        const results = await getJSON("http://127.0.0.1:8000/results");
        await createRaceResultCombos("past_eventcontainer", races, results);
    })();
</script>

{% endblock content %}