{% extends "base.html" %} {% load static %}

<!-- Style block -->
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tablestyles.css' %}">
<!---->
{% endblock styles %}

<!-- Content block -->
{% block content %}

<!-- Local Javascript file imports (not page content sensitive) -->
<script src="{% static 'js/data.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- Page header: 3. Grid row elements - Place for search input and filter options -->
<div class="content_header main_container">
    <h2 class="page_name">-Search events-</h2>
    <!-- Search form -->
    <form class="search_form" action="#">
        <div id="search_basic">
            <input id="search_input" type="text" placeholder="Type and hit Enter" name="search" autocomplete="off">
            <button id="filtermenu_button" class="sp zoom"></button>
        </div>
        <!-- Filter menu for search -->
        <div id="search_filters" class="hide">
            <div id="checkboxes">
                <label for="spast_event" class="si si-checkbox">
                        <input type="checkbox" id="spast_event" name="spast_event" value="Past Events">
                        <span class="si-label line-across">Upcoming events</span>
                    </label>
                <label for="sup_event" class="si si-checkbox">
                        <input type="checkbox" id="sup_event" name="sup_event" value="Upcoming Events">
                        <span class="si-label line-across">Past events</span>
                    </label>
                <label for="sathlete" class="si si-checkbox">
                        <input type="checkbox" id="sathlete" name="sathlete" value="Ahtletes" disabled>
                        <span class="si-label line-across disabled">Athletes</span>
                    </label>
            </div>
            <div id="date_range">
                <input type="text" class="date_period" id="date_from" name="date_from" placeholder="From" onfocus="(this.type='date')">
                <input type="text" class="date_period" id="date_to" name="date_to" placeholder="Until" onfocus="(this.type='date')">
            </div>
        </div>
    </form>
</div>

<!-- Page content: 4. Grid row elements - Place for search results (Constructed in JS-file) -->
<div id="search_eventcontainer" class="search_eventcontainer main_container sp">
    <div id="eventcontainer"></div>
    <div id="past_eventcontainer"></div>
    <div id="athletecontainer"></div>
</div>

<!-- Reserve container: 5. Grid row elements -->
<div class="vara main_container sp">
    <p><a class="btn btn-primary" href="#" role="button" style="color:goldenrod">Back to Top &raquo;</a></p>
</div>

<script src="{% static 'js/search.js' %}"></script>

{% endblock content %}